{{#> principal}}
    {{#*inline "content"}}

        <section class="content-header">
            <h1>

                Gestion de proveedor

            </h1>
            <ol class="breadcrumb">
                <li><a href="/"><i class="fa fa-dashboard"></i>Home</a></li>
                <li><a href="/proveedores">Proveedor</a></li>
                <li class="active">Nuevo</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content" >
            <div class="row" >
                <div class="col-lg-10">
                    <div class="box box-primary" >
                        <div class="box-header with-border">
                            <h3 class="box-title">Nuevo proveedor</h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form role="form" method="post" href="/proveedores/store">
                            <div class="box-body">

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="nombreInput">Nombre</label>
                                            <input type="text" name="prv_nomb" class="form-control" style="color: #0a0a0a" id="nombreInput" placeholder="Nombre del proveedor" autofocus>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="ubicacionInput">Ubicacion</label>
                                            <input type="text" name="prv_ubic" class="form-control" style="color: #0a0a0a" id="ubicacionInput" placeholder="Escriba alguna ubicacion">
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group">
                                    <label> Estado del proveedor</label>
                                    <div class="radio">

                                        <label>
                                            <input type="radio" name="prv_esta" id="optionsRadios1" value="1" checked>
                                            Habilitar
                                        </label>
                                        <label>
                                            <input type="radio" name="prv_esta" id="optionsRadios2" value="0">
                                            Deshabilitar
                                        </label>
                                    </div>

                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="telefonoInput">Telefono</label>
                                            <input type="text" name="prv_fono" class="form-control" style="color: #0a0a0a" id="telefonoInput" placeholder="Escriba algun telefono">
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="exampleInputFile">File input</label>
                                            <input type="file" id="exampleInputFile">
                                        </div>
                                    </div>


                                    <p class="help-block">Example block-level help text here.</p>
                                </div>
                            </div>
                            <!-- /.box-body -->

                            <div class="box-footer">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </section>


    {{/inline}}

    {{#*inline "script"}}

    {{/inline}}
{{/principal}}
